body {
  background: #edf1f3;
  width: 648px;
  position: relative;
  margin: 0 auto;
  font: 14px/22px "DejaVuSerifBook"; }

a {
  text-decoration: none; }

#title {
  font-size: 32pt;
  margin-top: 0.5em;
  margin-bottom: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 38px; 
}

header h1{
	margin: 10px 0px;
}

#sitenav {
  float: left;
  width: 140px;
  position: absolute;
  left: -165px;
  top: 48px;
  font-size: 26px;
  text-align: right; }

#footer {
  font-size: 10px; }

#main{
	padding: 10px 0px;
}

ul {
  margin: 0; }

li {
  margin: 0;
  list-style: none; 
}
ul.blog_list li span{
	float: right;
}
.post_prose p{
    margin: 10px 0px;
    padding: 2px;
}
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


pre{ padding: 5px; }
